.g_game_container {
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 1fr 1fr;
}

.g_roul_container {
 grid-column: 1;
 grid-row: 1;
 display: flex;
 align-items: center;
 justify-content: center;
 border: solid 0.3vw white;
}

.g_roul_content {
 border-radius: 50%;
 width: 30vw;
 height: 30vw;
 background-image: url(../icons/roulette.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
}

.g_roul_content_roll {
 animation: roll 4s ease-out;
}

.g_roul_btn_disabled {
 pointer-events: none;
 opacity: 0.5;
}

.g_roul_result {
 transition: all 1s linear;
}

@keyframes roll {
 10%{transform: rotate(-30deg)}
 100%{transform: rotate(7turn);}
}