.g_game_container {
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 1fr ;
}

.g_roul_container {
 grid-column: 1;
 grid-row: 1;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom: 1vw;
 padding-bottom: 1vw;
 border-bottom: solid 1vw white;
}

.g_roul_content {
 border-radius: 50%;
 width: 25vw;
 height: 25vw;
 background-image: url(../icons/roulette.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 display: flex;
 align-items: center;
 justify-content: center;
}

.g_roul_content_roll {
 animation: roll 4s ease-out;
}

.g_roul_result {
 width: 10vw;
 height: 10vw;
 font-size: 3vw;
 text-align: center;
 border-radius: 50%;
 border: none;
 background-color: black;
 color: white;
 cursor: pointer;
}

.g_roul_btn_disabled {
 pointer-events: none;
 animation: blink 0.2s infinite alternate-reverse;
}

@keyframes blink {
 from{background-color: black;}
 to{background-color: white;}
}

@keyframes roll {
 10% {
  transform: rotate(-30deg)
 }

 100% {
  transform: rotate(7turn);
 }
}



.g_bet_container {
 grid-column: 1;
 grid-row: 2;
 font-size: 1.5vw;
 justify-content: center;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 height: fit-content;
}

.g_bet_content {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 width: 100%;
 align-items: center;
 justify-content: center;
 grid-column: 2;
}

.g_bet_row {
 display: flex;
 flex-direction: row;
}

.g_bet_input {
 width: 6vw;
 text-align: center;
 height: 4vw;
 background-color: black;
 color: white;
 border: solid 0.1vw white;
 cursor: pointer;
 transition: 0.5s ease;
}

.g_bet_input_active {
 border-radius: 50%;
}

.g_bet_0_container {
 grid-column: 1;
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
}

.g_bet_0 {
 text-align: center;
 width: 6vw;
 height: 12vw;
 background-color: green;
 border: solid 0.1vw white;
 color: white;
 border-bottom-left-radius: 100%;
 border-top-left-radius: 100%;
}

.g_bet_bottom_container {
 width: 72vw;
}

.g_bet_bottom_content {
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.g_input_bottom_1 {
 width: 33.3%;
 text-align: center;
 border: solid 0.1vw white;
 background-color: green;
 color: white;
 cursor: pointer;
}

.g_input_bottom_2 {
 width: 16.66%;
 text-align: center;
 border: solid 0.1vw white;
 background-color: green;
 color: white;
 cursor: pointer;
}

.g_bet_right_container {
 grid-column: 3;
 display: flex;
 flex-direction: column;
}

.g_input_right {
 width: 12vw;
 height: 4vw;
 text-align: center;
 border: solid 0.1vw white;
 background-color: green;
 color: white;
 cursor: pointer;
}

.g_red {
 background-color: red;
}