.m_game_container {
 display: grid;
 grid-template-columns: 1fr 2fr 1fr;
 gap: 10px;
 width: 95vw;
 height: fit-content;
 justify-content: center;
 margin-top: 1%;
}

.m_win_content {
 border: solid 2px forestgreen;
 display: flex;
 flex-direction: row;
 gap: 4px;
 padding: 1%;
 justify-content: center;
 align-items: center;
 height: fit-content;
}

.m_win_input {
 border: solid 1px white;
 width: 4vw;
 height: 4vw;
 border-radius: 50%;
}

.m_difficult_container {
 border: solid 2px forestgreen;
 display: flex;
 flex-direction: row;
 gap: 4px;
 padding: 1%;
 justify-content: center;
 align-items: center;
 height: fit-content;
}

.m_difficult_show {
 font-size: 2vw;
}

.m_selected_and_choice {
 display: flex;
 grid-column: 2;
 grid-row: 1;
 flex-direction: column;
 gap: 0;
}

.m_selected_color_container {
 border: solid 2px forestgreen;
 display: flex;
 flex-direction: row;
 gap: 4px;
 padding: 1%;
 justify-content: center;
 height: fit-content;
 background-color: transparent;
 height: 7vw;
}

.m_selected_color {
 border: 1px solid white;
 width: 6vw;
 height: 6vw;
 cursor: pointer;
 border-radius: 50%;
 pointer-events: none;
}

.m_choice_container {
 border: solid 2px forestgreen;
 display: flex;
 flex-direction: row;
 gap: 4px;
 padding: 1% 30% 1% 30%;
 justify-content: center;
 flex-wrap: nowrap;
 height: fit-content;
}

.m_choice_input {
 border: 1px solid white;
 width: 6vw;
 height: 6vw;
 cursor: pointer;
 border-radius: 50%;
}

.m_choice_input:hover {
 opacity: 0.7;
}

.m_history_container {
 border: solid 2px forestgreen;
 display: flex;
 flex-direction: column-reverse;
 gap: 4px;
 padding: 2%;
 justify-content: center;
 align-items: center;
 grid-column: 3;
 grid-row: 1;
 height: fit-content;
}

.m_history_content {
 display: flex;
 flex-direction: column;
 gap: 4px;
 justify-content: center;
 border: solid 1px green;
}

.m_history_body {
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 4px;
}

.m_history_input {
 border: 1px solid white;
 width: 3vw;
 height: 3vw;
 cursor: pointer;
 border-radius: 50%;
 pointer-events: none;
 margin: 2% 0 0 0;
}

.m_history_clue_container {
 justify-content: space-around;
}

.m_history_input_clue {
 border: 1px solid white;
 width: 1vw;
 height: 1vw;
 cursor: pointer;
 border-radius: 50%;
 pointer-events: none;
}

.m_modal_explanation {
 width: 100vw;
 height: 100vh;
 position: absolute;
 top: 0;
 background-color: black;
 padding: 5%;
 text-align: justify;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.m_modal_explanation_content {
 font-size: 1vw;
}

.m_modal_explanation_btn_container {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}

.m_modal_btn {
 background-color: black;
 color: white;
 border: solid 2px white;
 border-radius: 10px;
 padding: 1%;
}

.m_modal_btn:hover {
 transform: scale(1.1);
}

.m_modal_start {
 width: 100vw;
 height: 100vh;
 position: absolute;
 top: 0;
 background-color: black;
 padding: 5%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.m_modal_start_content {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 10px;
 background-color: black;
 border: solid 3px green;
 width: fit-content;
 height: fit-content;
 padding: 10%;
}

.m_modal_start_btn_container {
 display: flex;
 flex-direction: row;
 gap: 5px;
}

.m_modal_start_btn {
 border: solid 2px green;
 color: green;
 width: 50%;
}

.m_modal_start_btn:hover {
 background-color: green;
 color: white;
 border: solid 2px white;
}

.m_modal_start_difficult_container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 10px;
}

.m_div_flexrow {
 display: flex;
 flex-direction: row;
 gap: 10px;
 justify-content: flex-start;
 align-items: flex-start;
}

.m_gameover_container_L {
 background-color: black;
 display: flex;
 border: red solid 3px;
 padding: 1%;
}

.m_gameover_content_L {
 width: 100%;
 height: 100%;
 font-size: 5vw;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 3%;
}

.m_gameover_container_btn_L {
 display: flex;
 flex-direction: row;
 width: 100%;
}

.m_gameover_title_L {
 color: red;
 font-size: 4vw;
}

.m_gameover_btn_L {
 width: 100%;
 font-size: 1vw;
 border: solid 1px red;
 color: red;
}

.m_gameover_btn_L:hover {
 background-color: red;
 color: white;
 border: solid 1px white;
}

.m_gameover_container_W {
 background-color: black;
 display: flex;
 border: lightskyblue solid 3px;
 padding: 1%;
}

.m_gameover_content_W {
 width: 100%;
 height: 100%;
 font-size: 5vw;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 3%;
}

.m_gameover_container_btn_W {
 display: flex;
 flex-direction: row;
 width: 100%;
}

.m_gameover_title_W {
 color: lightskyblue;
 font-size: 4vw;
}

.m_gameover_btn_W {
 width: 100%;
 font-size: 1vw;
 border: solid 1px lightskyblue;
 color: lightskyblue;
}

.m_gameover_btn_W:hover {
 background-color: lightskyblue;
 color: white;
 border: solid 1px white;
}



.m_h3 {
 font-size: 2vw;
 background-color: forestgreen;
 width: 100%;
 color: white;
 padding: 1%;
 text-align: center;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
}

.m_explanation_btn {
 font-size: 0.6vw;
 background-color: black;
 padding: 1.4%;
 cursor: pointer;
 border-radius: 10px;
}


.m_red {
 font-weight: bold;
 padding: 0.2%;
 background-color: red;
}

.m_blue {
 font-weight: bold;
 padding: 0.2%;
 background-color: blue;
}

.m_purple {
 font-weight: bold;
 padding: 0.2%;
 background-color: purple;
}

.m_brown {
 font-weight: bold;
 padding: 0.2%;
 background-color: saddlebrown;
}

.m_pink {
 font-weight: bold;
 padding: 0.2%;
 background-color: pink;
}

.m_yellow {
 font-weight: bold;
 padding: 0.2%;
 background-color: yellow;
}

.m_empty {
 background-color: black;
 border: solid 1px white;
}

.m_clue_W {
 font-weight: bold;
 padding: 0.2%;
 background-color: chartreuse;
}

.m_clue_M {
 font-weight: bold;
 background-color: coral;
 padding: 0.2%;
}

.m_clue_L {
 font-weight: bold;
 background-color: black;
 padding: 0.2%;
}